body {
    background-color: #efede7;
}

h1 {
    text-align: center;
    padding: 10px 0;
    font-family: 'Rubik Iso', cursive;
    font-size: 55px;
    color: white;
    margin:  20px 0;
    text-shadow: 0 1px 0 black;
}

p {
    /* background-color: white; */
    font-family: 'Tilt Neon', cursive;
    padding: 0 212px;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 20px;
}

#container {
    display: flex;
    padding: 20px 0;
    max-width: 1200px;
    margin: auto;
}

#left {
    position: relative;
    margin: 0 20px;
}

#right {
    position:relative;
    margin: auto;
    /* margin: auto 20px; */
    padding: 0 30px;
}


/* thumbnails position */
#watertower_th, #restaurant_th, #grandpa_th, #bigkong_th, #kitty_th, #house_th{
    position: absolute;
}

/* stating width and height again because of the precise dimension; can't put decimal on img attribute */
#watertower_th{
    bottom: 4px;
    left: 0;
    width: 128.5px;
    height: 215px;
}

#restaurant_th{
    bottom: 54px;
    left: 289.5px;
    width: 265.5px;
    height: 185.5px;
}

#grandpa_th {
    bottom: 200.5px;
    left: 125.5px;
    width: 257.5px;
    height: 165px;
}

#bigkong_th {
    bottom: 315px;
    left: 557.5px;
    width: 132.5px;
    height: 160px;
}

#kitty_th {
    bottom: 9.5px;
    left: 466px;
    width: 224px;
    height: 167.5px;
}

#house_th {
    bottom: 319.5px;
    left: -1px;
    width:247.5px;
    height: 185px;
}

/* visibility */
.hidden {
    display: none;
}

.showing {
    display: block;
}


.vertical {
    max-height: 500px;
    max-width: 440px;
    /* max-width: 500px; */
}

