body {
    color: white;
    margin: 10px;
    font-family: 'Unbounded', cursive;
    background: rgb(195,255,201);
    background: radial-gradient(circle, #c3ffc9 0%, #a8fcb1be 35%, #2d10a4ae 100%);
}

.flexContainer {
    display: flex;
    justify-content: center;
}

.flexContainer > div {
    width: 300px;
    padding: 20px;
    margin: 40px;
    background-color: white;
    border-radius: 15px 15px;
    box-shadow: 0  0 20px 20px white;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(45deg, #2d10a4ae, #a8fcb1be) border-box;
    border: 4px solid transparent;
}

#banner {
    width:auto;
    height: 250px;
    background: rgb(255, 255, 255, 0.5);
}

h1 {
    font-size: 60px;
    width: 600px;
    padding: 12px 0 0 0;
    margin: auto;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    text-shadow: 5px 5px  #1a0180;
}

.top {
    display: flex;
}

header {
    background: rgb(255, 255, 255, 0.5);
}

header h2 {
    font-family: 'Luckiest Guy', cursive;
    margin: auto;
    width: 500px;
    text-align: center;
    padding: 0 80px;
    display:flex;
    justify-content: flex-end;
    font-size: 1.3em;
}

h2 {
    color: #110057;
    align-self: end;
    padding: 0 20px;
    font-size: 1.2em;
}

#exp {
    padding-top: 30px;
}

ul {
    margin-top: 10px;
}

ul li {
    list-style-type: none;
    line-height: 1.8em;
    font-size: 1em;
}

li a {
    text-decoration: none;
    color: #1d008f;
}

li a:hover {
    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px #1a0180;
}

#middleCol h2 {
    color: #002518; 
}

#middleCol li a {
    color: #003a05;
}

#middleCol li a:hover {
    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px #337c3b;
}

footer  a{
    color: white;
    padding: 20px;
    text-decoration: none;
}

footer a:hover {
    color:#274b2a;
    text-shadow: 0 0 10px black;
}

footer {
    text-align: center;
   width: 800px;
   margin: auto;

}

img {
    max-height: 250px;
    position: absolute;
    animation: linear infinite alternate;
    animation-name: slide;
    animation-duration: 12s;
}

@keyframes slide {
    0% {
        left:0;
    }

    50% {
        left:79%;
    }

    100% {
        left:0;
    }
}