body {
    background-color: #f0ebe4;
    transition: background-color 0.5s;
}

h1 {
    font-family: 'Rubik Iso', cursive;
    font-size: 50px;
    color: white;
    margin: 0;
    text-shadow: 0 1px 0 black;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 3px;
    left: 50%;
}

#left {
    width: 1000px;
    position: relative;
    transition: margin-left 1s;
}

.sidenav {
    height: 100%;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.7);
    position: fixed;
    width: 0;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 1s;
}


/* thumbnail position */
#grandpa_th {
    position: absolute;
    bottom: 332.5px;
    left: 229.5px;
    width: 340px;
}

#grandpa_sel {
    position: absolute;
    bottom: 336.6px;
    left: 233.5px;
    width: 332px;
}

#watertower_th {
    position: absolute;
    bottom: 40.5px;
    left: 9px;
    width: 221px;  
}

#watertower_sel {
    position: absolute;
    bottom: 40.5px;
    left: 9px;
    width: 221px;  
}

#bigkong_th, #bigkong_sel {
    position: absolute;
    bottom: 479px;
    left: 793px;
    width: 205.5px;
}

#gelato_th {
    position: absolute;
    bottom: 225px;
    left: 299.5px;
    width: 195px;
}

#gelato_sel {
    position: absolute;
    bottom: 225px;
    left: 299.5px;
    width: 195px;
}

#restaurant_th, #restaurant_sel {
    position: absolute;
    bottom: 155px;
    left: 442px;
    width: 329px;
}

#house_th, #house_sel {
    position: absolute;
    bottom: 491.5px;
    left: 69.5px;
    width: 312.5px;
}

#berkeley_th, #berkeley_sel {
    position: absolute;
    bottom: 353px;
    left: 509px;
    width: 281px;
}

#cloud_th, #cloud_sel {
    position: absolute;
    bottom: 4.5px;
    left: 469.5px;
    width: 311px;
}

#nature_th, #nature_sel {
    position: absolute;
    bottom: 194.6px;
    left: 706.5px;
    width: 263.5px;
}

#leaves_th, #leaves_sel {
    position: absolute;
    bottom: 269.5px;
    left: 205px;
    width: 104px;
}

#tahoe_th, #tahoe_sel {
    position: absolute;
    bottom: 125.5px;
    left: 167px;
    width: 209px;
}

#sidekong_th, #sidekong_sel{
    position: absolute;
    bottom: 66px;
    left: 225.5px;
    width: 316px;
}

#cat_th, #cat_sel {
    position: absolute;
    bottom: 90px;
    left: 669px;
    width: 295px;
}

#horse_th, #horse_sel {
    position: absolute;
    bottom: 268.5px;
    left: 48.5px;
    width: 199px;
}

#seoul_th, #seoul_sel {
    position: absolute;
    bottom: 514px;
    left: 364.5px;
    width: 290px;
}

#gallery_th, #gallery_sel {
    position: absolute;
    bottom: 569px;
    left: 615px;
    width: 313px;
}

/* right side */
.closebtn {
    position: absolute;
    bottom: 60px;
    font-size: 46px;
    right: 230px;
    color: white;
    text-decoration: none;
    z-index: 3;
}

.vertical {
    max-width: 500px;
    max-height: 600px;
}

#imagefull {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hidden {
    display: none;
}

.showing {
    display: block;
}

h2, p {
    color: white;
    /* font-family: 'Rubik Iso', cursive; */
    font-family: 'Sono', monospace;
    padding: 10px 20px;
}

footer p {
    color: black;
    /* font-family: 'Space Grotesk', sans-serif; */
    font-family: 'Cousine', monospace;
    font-size: 16px;
    position:absolute;
    margin: 0;
    bottom: 12px;
    margin-left: 50px;
}


